{% include 'headerPegawai.html' %}

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Pemasukan (Perbulan)</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_pemasukan }}</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Estimasi Gaji (Perbulan)</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Rp.1.600.000</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Riwayat Pemasukan Pegawai</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="mb-3">




                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                    <thead>

                        <tr>
                            <th>No</th>
                            <th>Jumlah Pemasukan</th>
                            <th>Tanggal Pemasukan</th>
                            <th>Detail Pemasukan</th>

                    </thead>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th colspan="3">{{ total_pemasukan }}</th>


                        </tr>
                    </tfoot>
                    {% for item in pemasukan %}
                    <tbody>
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <th>{{item.pemasukan}}</th>
                            <th>{{item.tanggal}}</th>
                            <th>{{item.detail}}</th>


                        </tr>

                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% include 'footerPegawai.html' %}